<div class="col-xs-8 path">{{path}}</div>
<div class="col-xs-1 method">{{method}}</div>
<div class="col-xs-1 status">
    {{#if statusCode }}
        {{statusCode}}
    {{else}}
        <div class="spinner"></div>
    {{/if}}
</div>
<div class="col-xs-2 timestamp">
    <span class="time">{{longTime timestamp}}</span>
    <span class="date">{{shortDate timestamp}}</span>
</div>
